# Ignore all folders except M1_Assessment
Collections/
EmployeeManagementSystem/
Exception/
HotelRoomBooking/
Interface/
LMS/
Strings/

# Ignore solution file and workspace settings
M1_Prac.sln
.vscode/

# Ignore build artifacts globally
**/obj/
**/bin/

M1_Assessment/M1_Assessment.csproj